In [1]:
import pandas as pd 
from sklearn.model_selection import StratifiedKFold

In [27]:
df = pd.read_csv('ohsumed.txt', sep='\t',header=None)
df

                                                0         1    2
0         data/ohsumed_single_23/test/C01/0001011      test  C01
1         data/ohsumed_single_23/test/C01/0001072      test  C01
2         data/ohsumed_single_23/test/C01/0001306      test  C01
3         data/ohsumed_single_23/test/C01/0001441      test  C01
4         data/ohsumed_single_23/test/C01/0001450      test  C01
...                                           ...       ...  ...
7395  data/ohsumed_single_23/training/C23/0009946  training  C23
7396  data/ohsumed_single_23/training/C23/0009963  training  C23
7397  data/ohsumed_single_23/training/C23/0009964  training  C23
7398  data/ohsumed_single_23/training/C23/0009970  training  C23
7399  data/ohsumed_single_23/training/C23/0009991  training  C23

[7400 rows x 3 columns]

In [33]:
df_test = df
df_test.iloc[[0,45,181],1] = 'woohoo'
df_test.iloc[[0,45,181],:]
df_test.to_csv('ohsumed_test.txt',sep='\t', header=False,index=False)

In [28]:
X = df[0]
Y = df[2]

In [29]:
skf = StratifiedKFold(n_splits=5)
skf.get_n_splits(X, Y)

5

In [30]:
for train_index, test_index in skf.split(X, Y):
    print("TRAIN:", train_index, len(train_index), "TEST:", test_index, len(test_index))

TRAIN: [  44   45   46 ... 7397 7398 7399] 5920 TEST: [   0    1    2 ... 3780 3781 3782] 1480
TRAIN: [   0    1    2 ... 7397 7398 7399] 5920 TEST: [  44   45   46 ... 3939 3940 3941] 1480
TRAIN: [   0    1    2 ... 7397 7398 7399] 5920 TEST: [  87   88   89 ... 7078 7079 7080] 1480
TRAIN: [   0    1    2 ... 7397 7398 7399] 5920 TEST: [ 147  148  149 ... 7237 7238 7239] 1480
TRAIN: [   0    1    2 ... 7237 7238 7239] 5920 TEST: [4114 4115 4116 ... 7397 7398 7399] 1480

In [21]:
for i,j in enumerate(skf.split(X, Y)):
    print(i,j[0],j[1])

0 [  44   45   46 ... 7397 7398 7399] [   0    1    2 ... 3780 3781 3782]
1 [   0    1    2 ... 7397 7398 7399] [  44   45   46 ... 3939 3940 3941]
2 [   0    1    2 ... 7397 7398 7399] [  87   88   89 ... 7078 7079 7080]
3 [   0    1    2 ... 7397 7398 7399] [ 147  148  149 ... 7237 7238 7239]
4 [   0    1    2 ... 7237 7238 7239] [4114 4115 4116 ... 7397 7398 7399]

In [36]:
import pandas as pd 
from sklearn.model_selection import StratifiedKFold
df = pd.read_csv('ohsumed.txt', sep='\t',header=None)
X = df[0]
Y = df[2]
skf = StratifiedKFold(n_splits=5)
for i, arrays in enumerate(skf.split(X, Y)): 
    train_index = arrays[0]
    test_index = arrays[1]
    df.iloc[[train_index],1] = 'train'
    df.iloc[[test_index],1] = 'test'
    filename = 'ohsumed{}.txt'.format(i)
    print(filename)
    df.to_csv(filename,sep='\t', header=False,index=False)

ohsumed0.txt
ohsumed1.txt
ohsumed2.txt
ohsumed3.txt
ohsumed4.txt